@import "../../../vendor/bootstrap/bootstrap.min.scss";
@import "../../../vendor/animate/animate.scss";
@font-face {
  font-family: "iFlix";
  src: url("font/font.woff") format('woff');
}

body{
  font-family: 'iFlix';
  overflow: auto;
  background-image: -webkit-gradient(radial,center 300px,0,center 300px,600,color-stop(0%,#4a4a57),color-stop(100%,#131319));
  background-image: -webkit-radial-gradient(center 300px,circle,#4a4a57,#131319 600px);
  background-image: -moz-radial-gradient(center 300px,circle,#4a4a57,#131319 600px);
  background-image: -o-radial-gradient(center 300px,circle,#4a4a57,#131319 600px);
  background-image: radial-gradient(center 300px,circle,#4a4a57,#131319 600px);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%;
}

.logo-container{
  background-image: url("img/tv.png");
  background-repeat: no-repeat;
  background-position:center;
  height: 453px;
}
.logo-container h1{
  font-size: 100px;
  padding-top: 200px;
  color:#f4f5f6;
}
.iflix-footer{
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2e3137),color-stop(100%,#3e4148));
  background: -webkit-linear-gradient(#2e3137,#3e4148);
  background: -moz-linear-gradient(#2e3137,#3e4148);
  background: -o-linear-gradient(#2e3137,#3e4148);
  background: linear-gradient(#2e3137,#3e4148);
  border:0px;
  color:#f4f5f6;
}
.login-container h3{
  color: #f4f5f6;
}
.login-container h4{
  color: #f4f5f6;
}

.login-box{
  margin-top: 50px;
  border-radius: 20px;
  color:#f4f5f6;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF60B0FC',endColorstr='#FF4786FB');
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#60b0fc),color-stop(100%,#4786fb));
  background-image: -webkit-linear-gradient(#60b0fc,#4786fb);
  background-image: -moz-linear-gradient(#60b0fc,#4786fb);
  background-image: -o-linear-gradient(#60b0fc,#4786fb);
  background-image: linear-gradient(#60b0fc,#4786fb);
}
.connect_with_facebook h2{
  margin-top: 10px;
}
a.connect_with_facebook{
  display: block;
  width: auto;
  text-decoration: none;
  text-align: center;
  color:#f4f5f6;
}
.login-container{

}
a.connect_with_facebook:hover {

  text-decoration:none;
}